~$*
bin/
build/
*.mat
*.asv
.DS_Store
*.mex*
*.exp
*.lib
.vscode/
*.pdb
Thumbs.db

data/
data*
__pycache__/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
[Bb]uild*/
bld/
[Bb]in/
[Oo]bj/
.snakemake/
benchmark/
physycom_mrf

# Data
*_*.json
*.jpg
*.png
model_perf/
